<h2>Add someone....</h2>

<form action="/process-add" method="post">

  <label> First Name
    <input type="text" name="firstName" placeholder="first name">
  </label>

  <label> Description
    <input type="text" name="description" placeholder="tell us something nice">
  </label>
  <button>Add</button>
</form>